@import 'vendors';
@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  min-height: 100dvh;
  background: #181028;
  color: white;
}

button {
  cursor: pointer;
}
